.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.img {
    object-fit: contain;
    max-width: 25%;
}

.img-big {
    max-width: 30%;
}

.m-10 {
    margin: 10px;
}

.selected-card-highlight {
    border: 6px solid limegreen;
}

.disc-sel-highlight {
    font-weight: bold;
}

.hero-sel-highlight {
    font-weight: bold;
}

.all-hero-highlight {
    font-weight: bold;
}

.hidden-list {
    list-style-type: none;
}


#hand {
    width: 100%;
    min-height: 50vh;
    overflow: auto;
}

.line {
    height: 2px;
    width: 40%;
    text-align: center;
    border: 1px solid grey;
    margin: 5px 0;
}

.font-bold {
    font-weight: bold;
}


.black-border {
    border: 1px solid black;
}

.blue-border {
    border: 1px solid blue;
}

.red-border {
    border: 1px solid red;
}