body {
    font-family: "Jost", sans-serif;
    background: lightgrey;
}

html {
    font-family: "Jost", sans-serif;
}

.title-font {
    font-family: "Bangers", cursive; 
}

.white-back {
    background: white;
}

button {
    font-family: "Jost", sans-serif;
}

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.img {
    object-fit: contain;
    max-height: 300px;
}

.img-big {
    max-height: 450px;
}

.img-modal {
    max-height: 375px;
}

#hq-full-modal {
    width: 80vw;
    max-height: 100%;
    overflow: visible;
}

.m-10 {
    margin: 10px;
}

.selected-card-highlight {
    border: 6px solid #EF5350;
    border-radius: 15px;
}

.disc-sel-highlight {
    font-weight: bold;
    background: #42A5F5;
    border-radius: 5px;
    color: white;
}

.hero-sel-highlight {
    font-weight: bold;
    color: white;
    border-radius: 5px;
    background: #9575CD;
}

.all-hero-highlight {
    font-weight: bold;
    background: #FFA726;
    border-radius: 5px;
    color: white;
}

.full-hero-highlight {
    font-weight: bold;
    background: #FFA726;
    border-radius: 5px;
    color: white;
}

.hidden-list {
    list-style-type: none;
}

#hand-data {
    border: 2px solid purple;
    border-radius: 20px;
    padding: 15px;
}

.pointer {
    cursor: pointer;
}

.in-HQ {
    font-weight: bold;
    border: 1px solid purple;
    border-radius: 5px;
    padding: 5px;
}


#hand {
    width: 100%;
    min-height: 50vh;
    overflow: auto;
}

.line {
    height: 2px;
    width: 40%;
    text-align: center;
    border: 1px solid grey;
    margin: 5px 0;
}

.vert-line {
    width: 1px;
    height: 80%;
    text-align: center;
    border: 1px solid grey;
    margin: 0 5px;
}

.font-bold {
    font-weight: bold;
}


.black-border {
    border: 1px solid black;
}

.blue-border {
    border: 1px solid blue;
}

.red-border {
    border: 1px solid red;
}